body {
    background-color: DarkSlateGrey;
    color: white;
    text-shadow: 2px 2px black;
}

h1 {
    text-decoration: underline;
    text-shadow: 4px 4px black;
}

.testim {
    padding: 5px;
    margin: 25px 0px;
    border: 1px solid white;
    max-width: 300px;
    box-shadow: 5px 5px black;
    border-radius: 5px;
}

.testim .t-quote {
    font-size: 20px;
}

.testim .t-cite {
    font-size: 16px;
}

.abe-excerpt {
    padding: 5px;
    max-width: 500px;
    border: 1px solid white;
    box-shadow: 5px 5px black;
    border-radius: 5px;
    background-color: black;
}